:root {
  --textcolor:rgb(255, 255, 255);
  --background:black;
}
*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: var(--background);
  color: var(--textcolor);
}
a{
  color: inherit;
  text-decoration: none;
}